* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Space Grotesk', sans-serif;
  scroll-behavior: smooth !important;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Space Grotesk';
  background-color: var(--black);
  scroll-behavior: smooth;
  width: 100%;
  min-height: 100vh;
}

:root {
  --black: #151515;
  --neon-greem: #4ee1a0;
  --matte-black: #242424;
  --light-grey: #d9d9d9;
  --white: #fff;
}

/* Utility classes */

.container {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  padding: 5rem 5rem;
}

/* Navbar */
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 10rem;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  margin-right: 5rem;
  font-weight: bold;
}

.nav-bar img {
  width: 380px;
}

/* nav-links animation */

.nav-links > li {
  position: relative;
  cursor: pointer;
}

.nav-links > li::after {
  position: absolute;
  content: '';
  width: 0%;
  height: 1px;
  background-color: var(--neon-greem);
  left: 0;
  bottom: 0;
  transition: width 0.4s ease-out;
}

.nav-links > li:hover::after {
  width: 100%;
}

.line-1 {
  height: 1rem;
  background-color: var(--neon-greem);
  border: none;
}

.line-2 {
  margin-top: 5px;
  height: 0.5rem;
  background-color: var(--white);
}

.nav-links li a {
  color: #fff;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: 'Space Grotesk';
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 275% */
  letter-spacing: -1px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-bar h1 {
  color: var(--White, #fff);
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: 'Space Grotesk';
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 88px; /* 48.889% */
  letter-spacing: -2.5px;
}

.teamName {
  color: #fff;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: 'Space Grotesk';
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 88px; /* 137.5% */
  letter-spacing: -2.5px;
}

/* Hero */

.hero {
  display: grid;
  grid-template-columns: 20fr 12fr;
  gap: 5rem;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.intro {
  width: 100%;
  border-bottom: solid white 2px;
}

.hero .logo {
  height: 80%;
  width: 600px !important;
}

.hero h1 {
  color: #fff;

  font-feature-settings: 'liga' off, 'clig' off;
  font-family: 'Space Grotesk';
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 88px; /* 68.75% */
  letter-spacing: -2.5px;
}

.hero h2 {
  color: #fff;

  font-feature-settings: 'liga' off, 'clig' off;
  font-family: 'Space Grotesk';
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 88px; /* 183.333% */
  letter-spacing: -2.5px;
}

.hero-body p {
  margin-top: 1.7rem;
  width: 80%;
  color: var(--Grey, #d9d9d9);
  font-feature-settings: 'liga' off, 'clig' off;
  /* Body */
  font-family: 'Space Grotesk';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.hero .btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 20px;

  background-color: var(--matte-black);
  width: 250px;
  padding: 15px 30px;
  color: white;
  border-radius: 8px;

  margin-top: 2rem;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.hero .btn:hover {
  background-color: white;
  color: #242424;
  transform: scale(1.05);
}

.hero .btn:hover svg path {
  stroke: black;
  transition: stroke 0.3s ease;
}

.divider {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.project h2 {
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: 'Space Grotesk';
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 88px; /* 68.75% */
  letter-spacing: -2.5px;
}

.proj-title-line {
  width: 20rem;
  height: 5px;
  background-color: var(--neon-greem);
  margin-top: 0.5rem;
  border: none;
}

.proj-item {
  font-size: 20px;
  margin-top: 9rem;
  display: grid;
  width: 100%;
  height: 40rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 3fr;
  color: var(--neon-greem);
}

.proj-item p {
  margin: 2rem 0;
  color: var(--white);
  font-size: 15px;
}

.item-1,
.item-2,
.item-3 {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.item-1 {
  grid-row: span 2;
}

.item-2 {
  grid-row: span 2;
}

.item-3 {
  grid-row: span 2;
}

.proj-item-line {
  display: flex;
  justify-self: center;
  width: 6rem;
  height: 4px;
  background-color: var(--white);
}

/* interest */

.interests-flex {
  display: flex;
  width: 100%;
}

.interests-text {
  width: 100%;
  flex: 2;
}

.interests-text p {
  margin-top: 1.7rem;
  width: 80%;
  color: var(--Grey, #d9d9d9);
  font-feature-settings: 'liga' off, 'clig' off;
  /* Body */
  font-family: 'Space Grotesk';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.interests-text h2 {
  color: #fff;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: 'Space Grotesk';
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 120px; /* 109.091% */
  letter-spacing: -2.5px;
  border-bottom: 0.4px solid white;
  padding-bottom: 20px;
}

.interests-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex: 1;
}

.interests-info h3 {
  color: white;
  text-align: center;
}

.web .webdev,
.databaseimg {
  margin-left: 15px;
  width: 150px;
  height: 150px;
}

.database {
  margin-top: 4rem;
}

.specific {
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
  padding: 10px;
  margin-top: 10px;
  width: 180px;
}

.specific img {
  width: 30px;
  height: 30px;
}
